.App {
  text-align: center;
}

.App-header {
  background-color: #71733C;
  padding: 20px;
  color: white;
}

h1 {
  font-family: 'Arial', sans-serif;
  font-size: 2.5rem;
}

main {
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

/* Estilos para la sección Hospital de Plantas */
.hospital-de-plantas {
  background-color: #262422; /* Fondo negro */
  color: #71733C; /* Texto en verde */
  padding: 40px;
  font-family: 'Arial', sans-serif;
  border-radius: 10px;
  margin-top: 50px;
}

.hospital-de-plantas h2 {
  font-size: 2rem;
  color: #71733C; /* Títulos en verde */
}

/* Descripción debajo del título de Hospital de Plantas */
.hospital-de-plantas .hospital-description {
  font-size: 1.1rem;
  line-height: 1.5;
  margin-top: 10px;
  color: #ddd; /* Texto más claro para contraste */
  margin-bottom: 30px;
}

/* Estilos para las plantas en el hospital */
.hospital-de-plantas .planta-card {
  margin-top: 20px;
  background-color: #808080; /* Fondo gris de las tarjetas */
  border-radius: 10px;
}

.hospital-de-plantas .planta-card img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}
